@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: M_Light;
    font-style: normal;
    font-weight: 700 !important;
    src: url("../assets/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  }
  
  @font-face {
    font-family: M_Regular;
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: M_Medium;
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: M_Black;
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  }
  
  @font-face {
    font-family: M_Bold;
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  }
  
html {
  line-height: unset !important;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
  font-family: M_Regular;
  color: #203647;
}

::-webkit-scrollbar {
  width: 5px;
}

/* ::-webkit-scrollbar-track {
  background: $primary-color;
}

::-webkit-scrollbar-thumb {
  background: $secondary-color;
  border-radius: 6px;
} */
/* 

::-webkit-scrollbar-thumb:hover {
  background: #3a86af;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none !important;
}
